includes:
    - vendor/inviqa/phpstan-magento2/extension.neon
parameters:
    level: max
    paths:
       - src
    classesAllowedToBeExtended:
       - RuntimeException
       - Symfony\Component\Console\Command\Command
    classesNotRequiredToBeAbstractOrFinal:
    	- Inviqa\StockIndicatorExport\Infrastructure\UI\Console\StockIndicatorExportCommand
    excludes_analyse:
       - */src/**/registration.php
