parameters:
	level: max
	paths:
		- src
	bootstrapFiles:
		- tools/devtools-bootstrap.php
	excludes_analyse:
		- */src/**/registration.php
	ignoreErrors:
		- '/Unused @throws Symfony\\Component\\Console\\Exception\\LogicException annotation/'
	ergebnis:
		classesAllowedToBeExtended:
			- RuntimeException
			- Symfony\Component\Console\Command\Command
		classesNotRequiredToBeAbstractOrFinal:
			- Inviqa\StockIndicatorExport\Infrastructure\UI\Console\StockIndicatorExportCommand
	exceptionRules:
		uncheckedExceptions:
			- LogicException
