<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Inviqa\StockIndicatorExport\Domain\Repository\Catalog"
                type="Inviqa\StockIndicatorExport\Infrastructure\Repository\MagentoCatalog" />
    <preference for="Inviqa\StockIndicatorExport\Domain\Repository\StockIndicatorExportDocumentRepository"
                type="Inviqa\StockIndicatorExport\Infrastructure\Repository\CsvStockIndicatorExportDocumentRepository" />

    <type name="Magento\Framework\App\AreaList">
        <arguments>
            <argument name="areas" xsi:type="array">
                <item name="stock_indicator_export_test" xsi:type="null" />
            </argument>
        </arguments>
    </type>
</config>
